body {
    font-family: sans-serif;
    background: url('../img/background.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: url('../img/secoundbg.png');
    background-size: 80%;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    height: 70%;
    border-radius: 40px;
    border: 6px solid #969696;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    width: 350px;
    margin: auto;
    border: 5px solid rgb(88, 88, 88);
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.tagline {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #218838;
}