@page {
    width: 80mm;
    margin: 0;
}

body {
    font-family: 'Sarabun', sans-serif;
    width: 100%; /* Use 100% of the available width */
    max-width: 80mm; /* Limit the width to 80mm for receipt printers */
    margin: 0 auto;
    padding: 8px;
    font-size: 14px;
    line-height: 1.4;
    height: auto; /* Allow height to adjust dynamically based on content */
    overflow: visible;
}

h2, h3 {
    text-align: center;
    margin: 0;
}

.line {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 4px;
}

.center {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

hr {
    border: 1px dashed #ccc;
    margin: 8px 0;
}

.button-box {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: black;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #333;
}

@media print {
    .print-button, .btn-back {
        display: none;
    }
}
